In [1]:
import requests

In [20]:
url = "https://aerodatabox.p.rapidapi.com/airports/search/term"
    
querystring = {"q":"madrid","limit":"10"}

headers = {
    'x-rapidapi-host': "aerodatabox.p.rapidapi.com",
    'x-rapidapi-key': "9613ca6ca5msh62659872159916fp1a0a2cjsndd9a3e6ff324"
    }


response = requests.get(url, headers=headers, params=querystring)

result = response.json()
result

{'searchBy': 'madrid',
 'count': 4,
 'items': [{'icao': 'LEMD',
   'iata': 'MAD',
   'name': 'Madrid Adolfo Suárez –Barajas',
   'shortName': 'Adolfo Suárez –Barajas',
   'municipalityName': 'Madrid',
   'location': {'lat': 40.4936, 'lon': -3.56676},
   'countryCode': 'ES'},
  {'icao': 'LECU',
   'iata': 'ECV',
   'name': 'Madrid Cuatro Vientos',
   'shortName': 'Cuatro Vientos',
   'municipalityName': 'Madrid',
   'location': {'lat': 40.3707, 'lon': -3.78514},
   'countryCode': 'ES'},
  {'icao': 'LETO',
   'iata': 'TOJ',
   'name': 'Madrid Torrejón',
   'shortName': 'Torrejón',
   'municipalityName': 'Madrid',
   'location': {'lat': 40.4967, 'lon': -3.445869},
   'countryCode': 'ES'},
  {'icao': 'MMIA',
   'iata': 'CLQ',
   'name': 'Colima Licenciado Miguel de la Madrid',
   'shortName': 'Licenciado Miguel de la Madrid',
   'municipalityName': 'Colima',
   'location': {'lat': 19.277, 'lon': -103.577},
   'countryCode': 'MX'}]}

In [4]:
import pandas as pd

# Normalize the response

r_json = response.json()
r_json['items']

[{'icao': 'LEMD',
  'iata': 'MAD',
  'name': 'Madrid Adolfo Suárez –Barajas',
  'shortName': 'Adolfo Suárez –Barajas',
  'municipalityName': 'Madrid',
  'location': {'lat': 40.4936, 'lon': -3.56676},
  'countryCode': 'ES'},
 {'icao': 'LECU',
  'iata': 'ECV',
  'name': 'Madrid Cuatro Vientos',
  'shortName': 'Cuatro Vientos',
  'municipalityName': 'Madrid',
  'location': {'lat': 40.3707, 'lon': -3.78514},
  'countryCode': 'ES'},
 {'icao': 'LETO',
  'iata': 'TOJ',
  'name': 'Madrid Torrejón',
  'shortName': 'Torrejón',
  'municipalityName': 'Madrid',
  'location': {'lat': 40.4967, 'lon': -3.445869},
  'countryCode': 'ES'},
 {'icao': 'MMIA',
  'iata': 'CLQ',
  'name': 'Colima Licenciado Miguel de la Madrid',
  'shortName': 'Licenciado Miguel de la Madrid',
  'municipalityName': 'Colima',
  'location': {'lat': 19.277, 'lon': -103.577},
  'countryCode': 'MX'}]

In [5]:
pd.json_normalize(r_json['items'])

,icao,iata,name,shortName,municipalityName,countryCode,location.lat,location.lon
0,LEMD,MAD,Madrid Adolfo Suárez –Barajas,Adolfo Suárez –Barajas,Madrid,ES,40.4936,-3.566760
1,LECU,ECV,Madrid Cuatro Vientos,Cuatro Vientos,Madrid,ES,40.3707,-3.785140
2,LETO,TOJ,Madrid Torrejón,Torrejón,Madrid,ES,40.4967,-3.445869
3,MMIA,CLQ,Colima Licenciado Miguel de la Madrid,Licenciado Miguel de la Madrid,Colima,MX,19.2770,-103.577000

In [6]:
querystring = {"q":"london","limit":"10"}

response = requests.request("GET", url, headers=headers, params=querystring)
items = response.json()
items

{'searchBy': 'london',
 'count': 10,
 'items': [{'icao': 'CYXU',
   'iata': 'YXU',
   'name': 'London ',
   'shortName': 'London',
   'municipalityName': 'London',
   'location': {'lat': 43.0356, 'lon': -81.1539},
   'countryCode': 'CA'},
  {'icao': 'EGGW',
   'iata': 'LTN',
   'name': 'London Luton',
   'shortName': 'Luton',
   'municipalityName': 'London',
   'location': {'lat': 51.8747, 'lon': -0.368333},
   'countryCode': 'GB'},
  {'icao': 'EGKK',
   'iata': 'LGW',
   'name': 'London Gatwick',
   'shortName': 'Gatwick',
   'municipalityName': 'London',
   'location': {'lat': 51.1481, 'lon': -0.190277},
   'countryCode': 'GB'},
  {'icao': 'EGLC',
   'iata': 'LCY',
   'name': 'London City',
   'shortName': 'City',
   'municipalityName': 'London',
   'location': {'lat': 51.5053, 'lon': 0.055277},
   'countryCode': 'GB'},
  {'icao': 'EGLL',
   'iata': 'LHR',
   'name': 'London Heathrow',
   'shortName': 'Heathrow',
   'municipalityName': 'London',
   'location': {'lat': 51.4706, 'lon': -0.461941},
   'countryCode': 'GB'},
  {'icao': 'EGSS',
   'iata': 'STN',
   'name': 'London Stansted',
   'shortName': 'Stansted',
   'municipalityName': 'London',
   'location': {'lat': 51.885, 'lon': 0.234999},
   'countryCode': 'GB'},
  {'icao': 'EGKB',
   'iata': 'BQH',
   'name': 'London Biggin Hill',
   'shortName': 'Biggin Hill',
   'municipalityName': 'London',
   'location': {'lat': 51.3308, 'lon': 0.032499},
   'countryCode': 'GB'},
  {'icao': 'EGWU',
   'iata': 'NHT',
   'name': 'London RAF Northolt',
   'shortName': 'RAF Northolt',
   'municipalityName': 'London',
   'location': {'lat': 51.553, 'lon': -0.418166},
   'countryCode': 'GB'},
  {'icao': 'FAEL',
   'iata': 'ELS',
   'name': 'East London Ben Schoeman',
   'shortName': 'Ben Schoeman',
   'municipalityName': 'East London',
   'location': {'lat': -33.0356, 'lon': 27.8259},
   'countryCode': 'ZA'},
  {'icao': 'KGON',
   'iata': 'GON',
   'name': 'Groton (New London) Groton New London',
   'shortName': 'Groton New London',
   'municipalityName': 'Groton (New London)',
   'location': {'lat': 41.3301, 'lon': -72.0451},
   'countryCode': 'US'}]}

In [7]:
import pandas as pd

# Normalize the response

r_json = response.json()
r_json['items']

[{'icao': 'CYXU',
  'iata': 'YXU',
  'name': 'London ',
  'shortName': 'London',
  'municipalityName': 'London',
  'location': {'lat': 43.0356, 'lon': -81.1539},
  'countryCode': 'CA'},
 {'icao': 'EGGW',
  'iata': 'LTN',
  'name': 'London Luton',
  'shortName': 'Luton',
  'municipalityName': 'London',
  'location': {'lat': 51.8747, 'lon': -0.368333},
  'countryCode': 'GB'},
 {'icao': 'EGKK',
  'iata': 'LGW',
  'name': 'London Gatwick',
  'shortName': 'Gatwick',
  'municipalityName': 'London',
  'location': {'lat': 51.1481, 'lon': -0.190277},
  'countryCode': 'GB'},
 {'icao': 'EGLC',
  'iata': 'LCY',
  'name': 'London City',
  'shortName': 'City',
  'municipalityName': 'London',
  'location': {'lat': 51.5053, 'lon': 0.055277},
  'countryCode': 'GB'},
 {'icao': 'EGLL',
  'iata': 'LHR',
  'name': 'London Heathrow',
  'shortName': 'Heathrow',
  'municipalityName': 'London',
  'location': {'lat': 51.4706, 'lon': -0.461941},
  'countryCode': 'GB'},
 {'icao': 'EGSS',
  'iata': 'STN',
  'name': 'London Stansted',
  'shortName': 'Stansted',
  'municipalityName': 'London',
  'location': {'lat': 51.885, 'lon': 0.234999},
  'countryCode': 'GB'},
 {'icao': 'EGKB',
  'iata': 'BQH',
  'name': 'London Biggin Hill',
  'shortName': 'Biggin Hill',
  'municipalityName': 'London',
  'location': {'lat': 51.3308, 'lon': 0.032499},
  'countryCode': 'GB'},
 {'icao': 'EGWU',
  'iata': 'NHT',
  'name': 'London RAF Northolt',
  'shortName': 'RAF Northolt',
  'municipalityName': 'London',
  'location': {'lat': 51.553, 'lon': -0.418166},
  'countryCode': 'GB'},
 {'icao': 'FAEL',
  'iata': 'ELS',
  'name': 'East London Ben Schoeman',
  'shortName': 'Ben Schoeman',
  'municipalityName': 'East London',
  'location': {'lat': -33.0356, 'lon': 27.8259},
  'countryCode': 'ZA'},
 {'icao': 'KGON',
  'iata': 'GON',
  'name': 'Groton (New London) Groton New London',
  'shortName': 'Groton New London',
  'municipalityName': 'Groton (New London)',
  'location': {'lat': 41.3301, 'lon': -72.0451},
  'countryCode': 'US'}]

In [8]:
pd.json_normalize(r_json['items'])

,icao,iata,name,shortName,municipalityName,countryCode,location.lat,location.lon
0,CYXU,YXU,London,London,London,CA,43.0356,-81.153900
1,EGGW,LTN,London Luton,Luton,London,GB,51.8747,-0.368333
2,EGKK,LGW,London Gatwick,Gatwick,London,GB,51.1481,-0.190277
3,EGLC,LCY,London City,City,London,GB,51.5053,0.055277
4,EGLL,LHR,London Heathrow,Heathrow,London,GB,51.4706,-0.461941
5,EGSS,STN,London Stansted,Stansted,London,GB,51.8850,0.234999
6,EGKB,BQH,London Biggin Hill,Biggin Hill,London,GB,51.3308,0.032499
7,EGWU,NHT,London RAF Northolt,RAF Northolt,London,GB,51.5530,-0.418166
8,FAEL,ELS,East London Ben Schoeman,Ben Schoeman,East London,ZA,-33.0356,27.825900
9,KGON,GON,Groton (New London) Groton New London,Groton New London,Groton (New London),US,41.3301,-72.045100

In [9]:
icao_from = 'LEMD'
icao_to = 'EGKK'

url = f"https://aerodatabox.p.rapidapi.com/airports/icao/{icao_from}/distance-time/{icao_to}"

response = requests.get(url, headers=headers)

print(response.json())

{'from': {'icao': 'LEMD', 'iata': 'MAD', 'name': 'Madrid Adolfo Suárez –Barajas', 'shortName': 'Adolfo Suárez –Barajas', 'municipalityName': 'Madrid', 'location': {'lat': 40.4936, 'lon': -3.56676}, 'countryCode': 'ES'}, 'to': {'icao': 'EGKK', 'iata': 'LGW', 'name': 'London Gatwick', 'shortName': 'Gatwick', 'municipalityName': 'London', 'location': {'lat': 51.1481, 'lon': -0.190277}, 'countryCode': 'GB'}, 'greatCircleDistance': {'meter': 1212598.73, 'km': 1212.6, 'mile': 753.47, 'nm': 654.75, 'feet': 3978342.3}, 'approxFlightTime': '01:35:00'}

In [10]:
pd.json_normalize(response.json())

,approxFlightTime,from.icao,from.iata,from.name,from.shortName,from.municipalityName,from.location.lat,from.location.lon,from.countryCode,to.icao,...,to.shortName,to.municipalityName,to.location.lat,to.location.lon,to.countryCode,greatCircleDistance.meter,greatCircleDistance.km,greatCircleDistance.mile,greatCircleDistance.nm,greatCircleDistance.feet
0,01:35:00,LEMD,MAD,Madrid Adolfo Suárez –Barajas,Adolfo Suárez –Barajas,Madrid,40.4936,-3.56676,ES,EGKK,...,Gatwick,London,51.1481,-0.190277,GB,1212598.73,1212.6,753.47,654.75,3978342.3

In [26]:
url = "https://aerodatabox.p.rapidapi.com/flights/%7BsearchBy%7D/KL1395/dates/2020-06-01/2020-06-15"
        


response = requests.get(url, headers=headers)

result = response.json()
result

{'message': 'This endpoint is disabled for your subscription'}

In [36]:
import requests

url = "https://aerodatabox.p.rapidapi.com/airports/icao/KLAX/time/local"

headers = {
    "X-RapidAPI-Key": "9613ca6ca5msh62659872159916fp1a0a2cjsndd9a3e6ff324",
    "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

print(response.json())

{'time': {'utc': '2024-03-26 19:42Z', 'local': '2024-03-26 12:42-07:00'}, 'timeZoneId': 'America/Los_Angeles'}

In [39]:
import requests

url = "https://aerodatabox.p.rapidapi.com/airports/icao/EGSS/delays"

headers = {
    "X-RapidAPI-Key": "9613ca6ca5msh62659872159916fp1a0a2cjsndd9a3e6ff324",
    "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

print(response.json())

{'airportIcao': 'EGSS', 'from': {'utc': '2024-03-26 17:43Z', 'local': '2024-03-26 17:43+00:00'}, 'to': {'utc': '2024-03-26 19:43Z', 'local': '2024-03-26 19:43+00:00'}, 'departuresDelayInformation': {'numTotal': 29, 'numQualifiedTotal': 29, 'numCancelled': 0, 'medianDelay': '00:00:00', 'delayIndex': 0.0}, 'arrivalsDelayInformation': {'numTotal': 28, 'numQualifiedTotal': 28, 'numCancelled': 0, 'medianDelay': '-00:05:00', 'delayIndex': 0.0}}

In [ ]:
#define a function to put all the information together

def